body {
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    color: cadetblue;
}
a:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto;
}
