<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Web Application</title>
</head>
<body>
    <h1>{{ .Title }}</h1>
    <section>
        {{ range .Posts}}
        <div>
            <p><b>ID:</b> {{.Id}} </p>
            <p><b>Content:</b> {{.Content}}</p>
            <p><b>Published At:</b> {{.PublishedAt}}</p>
        </div>
        {{ end }}
    </section>
    <a href="/">Go back</a>
</body>
</html>